.macbook-pro-14-2-child {
  position: absolute;
  top: -5px;
  left: 0;
  background-color: #a49999;
  width: 1509px;
  height: 79px;
}
.macbook-pro-14-2-item {
  position: absolute;
  height: 1.7%;
  width: 4.64%;
  top: 0.13%;
  right: 77.7%;
  bottom: 98.17%;
  left: 17.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
}
.macbook-pro-14-2-inner {
  position: absolute;
  top: 79px;
  left: 1px;
  border-radius: 5px;
  background-color: #010101;
  width: 1509px;
  height: 868px;
}
.sentinex,
.the-community-we {
  position: absolute;
  display: inline-block;
}
.sentinex {
  top: 223px;
  left: 589px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 331px;
  height: 48px;
}
.the-community-we {
  top: 333px;
  left: 500px;
  font-size: 34px;
  font-weight: 200;
  font-family: var(--font-inter);
  white-space: pre-wrap;
  text-align: left;
  width: 512px;
  height: 47px;
}
.police2-removebg-1-icon {
  position: absolute;
  top: 442px;
  left: 389px;
  width: 732px;
  height: 437px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 962px;
  left: 1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  width: 1509px;
  height: 868px;
}
.screenshot-2024-02-16-231728 {
  position: absolute;
  height: 12.57%;
  width: 21.63%;
  top: 19.47%;
  right: 68.98%;
  bottom: 67.96%;
  left: 9.39%;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sentinex-a-trusted {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 507px;
  height: 520px;
}
.sentinex-a-trusted-companion-wrapper {
  position: absolute;
  top: 1136px;
  left: 758px;
  width: 507px;
  height: 520px;
  font-size: var(--font-size-21xl);
}
.macbook-pro-14-2-child1 {
  position: absolute;
  top: 1837px;
  left: -6px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  width: 1523px;
  height: 650px;
}
.screenshot-2024-02-19-000034,
.screenshot-2024-02-19-000100 {
  position: absolute;
  top: 1930px;
  left: 382px;
  border-radius: 11px;
  width: 87px;
  height: 27px;
  object-fit: cover;
}
.screenshot-2024-02-19-000100 {
  left: 1063px;
  border-radius: 8px;
  width: 115px;
  height: 35px;
}
.macbook-pro-14-2-child2 {
  position: absolute;
  top: 2027px;
  left: 909px;
  border-radius: var(--br-4xl);
  background: linear-gradient(180deg, snow, rgba(217, 217, 217, 0));
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 424px;
  height: 397px;
}
.access-authorization-for {
  margin: 0;
}
.access-authorization-for-container {
  position: absolute;
  top: 2090px;
  left: 920px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 397px;
  height: 370px;
}
.macbook-pro-14-2-child3 {
  position: absolute;
  top: 2027px;
  left: 214px;
  border-radius: var(--br-4xl);
  background: linear-gradient(180deg, snow, rgba(217, 217, 217, 0));
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 424px;
  height: 397px;
}
.for-user-ability-container {
  position: absolute;
  top: 2051px;
  left: 285px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 282px;
  height: 189px;
}
.macbook-pro-14-2-child4 {
  position: absolute;
  top: 2496px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  width: 1509px;
  height: 868px;
}
.macbook-pro-14-2-child5,
.screenshot-2024-02-16-231817 {
  position: absolute;
  border-radius: var(--br-4xl);
  height: 585px;
}
.screenshot-2024-02-16-231817 {
  top: 2637px;
  left: 151px;
  width: 276px;
  object-fit: cover;
}
.macbook-pro-14-2-child5 {
  top: 2631px;
  left: 809px;
  background: linear-gradient(180deg, #ecfae8, rgba(185, 156, 156, 0));
  border: 2px solid #caadad;
  box-sizing: border-box;
  width: 620px;
}
.frame-child {
  position: absolute;
  top: 3px;
  left: -3px;
  border-radius: var(--br-11xl);
  background-color: #dd3434;
  width: 188px;
  height: 57px;
}
.file-report {
  position: absolute;
  top: 20px;
  left: 24px;
}
.rectangle-parent {
  position: absolute;
  top: 2709px;
  left: 875px;
  width: 188px;
  height: 57px;
  font-size: var(--font-size-xl);
}
.screenshot-2024-02-16-231846 {
  position: absolute;
  top: 2709px;
  left: 1159px;
  border-radius: 14px;
  width: 211px;
  height: 461px;
  object-fit: cover;
}
.sentinex-a-trusted1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 335px;
  height: 294px;
}
.sentinex-a-trusted-companion-container {
  position: absolute;
  top: 2838px;
  left: 819px;
  width: 335px;
  height: 294px;
}
.macbook-pro-14-2-child6 {
  position: absolute;
  top: 3372px;
  left: 1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  width: 1509px;
  height: 868px;
}
.macbook-pro-14-2-child7,
.macbook-pro-14-2-child8 {
  position: absolute;
  top: 3535px;
  left: 79px;
  border-radius: var(--br-4xl);
  background: linear-gradient(180deg, #f3fcf0, rgba(185, 156, 156, 0));
  border: 1px solid var(--color-snow-100);
  box-sizing: border-box;
  width: 620px;
  height: 585px;
}
.macbook-pro-14-2-child8 {
  top: 3520px;
  left: 809px;
}
.frame-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-olivedrab);
}
.rectangle-wrapper,
.vector-icon {
  position: absolute;
  top: 5px;
  left: 0;
  width: 97px;
  height: 51px;
}
.vector-icon {
  height: 39.29%;
  width: 46.38%;
  top: 30.36%;
  right: 26.03%;
  bottom: 30.36%;
  left: 27.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard,
.frame-parent {
  position: absolute;
  height: 56px;
}
.dashboard {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 20px;
  width: 58px;
  overflow: hidden;
}
.frame-parent {
  top: 3634px;
  left: 137px;
  width: 97px;
}
.screenshot-2024-02-19-005516 {
  position: absolute;
  top: 3577px;
  left: 426px;
  border-radius: 32px;
  width: 252px;
  height: 528px;
  object-fit: cover;
}
.sentinex-a-trusted2 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 277px;
  height: 267px;
}
.sentinex-a-trusted-companion-frame,
.vector-icon1 {
  position: absolute;
  top: 3722px;
  left: 110px;
  width: 277px;
  height: 267px;
}
.vector-icon1 {
  height: 45.1%;
  width: 20%;
  top: 27.45%;
  right: 39.79%;
  bottom: 27.45%;
  left: 40.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-div,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 51px;
}
.frame-div {
  top: 3608px;
  left: 850px;
}
.screenshot-2024-02-19-005534 {
  position: absolute;
  top: 3567px;
  left: 1098px;
  border-radius: 28px;
  width: 248px;
  height: 522px;
  object-fit: cover;
}
.group-div {
  position: absolute;
  top: 3698px;
  left: 808px;
  width: 277px;
  height: 267px;
}
.macbook-pro-14-2-child9 {
  position: absolute;
  top: 4248px;
  left: 1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  width: 1509px;
  height: 868px;
}
.macbook-pro-14-2-child10 {
  position: absolute;
  top: 4389px;
  left: 79px;
  border-radius: var(--br-4xl);
  background: linear-gradient(180deg, #eef5ec, rgba(185, 156, 156, 0));
  border: 1px solid var(--color-snow-200);
  box-sizing: border-box;
  width: 620px;
  height: 585px;
}
.div,
.div1 {
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 43px;
  height: 24px;
}
.div {
  position: absolute;
  top: 6px;
}
.div1 {
  top: 12px;
}
.div1,
.div2,
.parent {
  position: absolute;
}
.div2 {
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 43px;
  height: 24px;
}
.parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 4411px;
  left: 114px;
  width: 59px;
  height: 100px;
}
.screenshot-2024-02-19-005459 {
  position: absolute;
  top: 4411px;
  left: 389px;
  width: 242px;
  height: 528px;
  object-fit: cover;
}
.sentinex-a-trusted4 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 294px;
  height: 256px;
}
.sentinex-a-trusted-companion-wrapper1 {
  position: absolute;
  top: 4543px;
  left: 93px;
  width: 294px;
  height: 256px;
}
.macbook-pro-14-2-child11 {
  position: absolute;
  top: 4378px;
  left: 844px;
  border-radius: var(--br-4xl);
  background: linear-gradient(180deg, #eef5ec, rgba(185, 156, 156, 0));
  border: 1px solid var(--color-snow-200);
  box-sizing: border-box;
  width: 620px;
  height: 585px;
}
.group-icon {
  position: absolute;
  height: 0.72%;
  width: 2.25%;
  top: 82.17%;
  right: 22.55%;
  bottom: 17.11%;
  left: 75.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sentinex-a-trusted-companion-wrapper2 {
  position: absolute;
  top: 4527px;
  left: 1004px;
  width: 294px;
  height: 256px;
}
.macbook-pro-14-2-child12 {
  position: absolute;
  top: 5120px;
  left: 2px;
  background-color: #030202;
  width: 1509px;
  height: 302px;
}
.about-sentinex {
  position: absolute;
  top: calc(50% + 2416px);
  left: calc(50% - 56px);
  display: inline-block;
  font-family: var(--font-inter);
  text-align: left;
  width: 364px;
  height: 43px;
}
.sentinex-empowers-residents-container {
  position: absolute;
  top: 5193px;
  left: 25px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: #fffefe;
  display: inline-block;
  width: 1476px;
  height: 240px;
}
.macbook-pro-14-2 {
  width: 100%;
  position: relative;
  border-radius: 29px;
  background-color: var(--color-white);
  height: 5418px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
